.App {
  height: 100vh;
  padding-top: 10px;
  background-color: #1b1b32;
  font-family: LAto, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centrar verticalmente */
  align-items: center; /* Centrar horizontalmente */
}

.freecodecamp-logo-contenedor {
  width: 100%;
  height: 50px;
  margin: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.feecodecamp-logo {
  height: 40px;
}

.contenedor-calculadora {
  width: 300px; /* Reducir el ancho */
  height: 600px; /* Reducir la altura */
  padding: 14px;
  background-color: #99c9ff;
  border-radius: 20px;
  border: 10px solid white; /* Reducir el grosor del borde */
  margin-top: 60px; /* Añadir margen superior para separarlo del logo */
}

.fila {
  margin: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}
